<div class="container-tchat chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  style="margin-right: 25%;"
>

<h1 class="nopa">
  <div class="d-flex align-items-center">
    <% if @chatroom.offer.product.images.attached? %>
      <%= image_tag @chatroom.offer.product.images.first, class: 'your-class-name mr-3' %>
    <% end %>
    <div class="spaced-div">
      <p class="mb-0">
        <span class="brand-color"><%= @chatroom.offer.product.marque %></span>
        <%= @chatroom.offer.product.modele %>
      </p>
    </div>
    <div>
      <div class="spaced-div-price">
        <p class="mb-0"><%= number_to_currency(@chatroom.offer.price, unit: "€", separator: ",", delimiter: " ", format: "%n%u") %></p>
      </div>
    </div>
  </div>
</h1>

<div class="messages scrollable-div" data-chatroom-subscription-target="messages">
  <% @chatroom.messages.each do |message| %>
    <%= render "messages/message", message: message %>
  <% end %>
</div>

</div>
<%= simple_form_for [@chatroom, @message],
  html: { id: 'my_form', data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, style: "width: 70%; margin-left: 9%;" }, remote: true do |f|
%>
  <div class="form-group flex-group">
    <%= f.input :content,
      label: false,
      placeholder: "Écrivez votre message ici...",
      input_html: { class: 'small-input' },
      wrapper_html: {class: "flex-grow-1"}
    %>

    <%= button_tag(type: 'submit', class: "btn planebtn mb-3") do %>
      <i class="fas fa-paper-plane" style="color: #000000;"></i>
    <% end %>
  </div>

  <div class="form-group" style="width: 55%;">
    <%= f.input :image, as: :file, label: false, input_html: { id: 'image_input'} %>
  </div>
<% end %>


<script>
  document.getElementById('my_form').addEventListener('turbo:submit-end', function() {
    this.reset();
  });
</script>
