<div class="user-profile">
  <% if @user.avatar.attached? %>
    <div class="avatar-container">
      <%= image_tag @user.avatar, class: "user-avatar" %>
    </div>
  <% else %>
    <div class="avatar-container">
      <%= image_tag("avatar-default.jpg", class: "user-avatar") %>
    </div>
  <% end %>
  <h1><%= @user.nickname %></h1>
  <p><%= @offers.count %> offre(s)</p>
  <% if current_user == @user %>
  <p><%= link_to "Editer mon profil", edit_user_registration_path, class: "dropdown-item"%></p>
</div>

<h2 class="alerte-h2">Mes Alertes:</h2>
<p style="text-align: center; font-style: italic;">Paramétrez ici vos alertes afin de recevoir une notification correspondante à vos recherches sur les prochaines offres.</p>
<div class="nav nav-tabs offers-table" id="nav-tab" role="tablist">
  <a class="nav-link active" id="nav-alert-feed-tab" data-bs-toggle="tab" data-bs-target="#nav-alert-feed" role="tab" aria-controls="nav-alert-feed" aria-selected="true">Fil d'alerte</a>
  <a class="nav-link" id="nav-manage-alerts-tab" data-bs-toggle="tab" data-bs-target="#nav-manage-alerts" role="tab" aria-controls="nav-manage-alerts" aria-selected="false">Gérer mes alertes</a>
</div>

<div class="tab-content" id="nav-tabContent" style="margin-left: 10%; margin-right: 10%;">
  <div class="tab-pane fade show active" id="nav-alert-feed" role="tabpanel" aria-labelledby="nav-alert-feed-tab">
    <% if @alerts.any? %>
        <% all_matching_offers = @alerts.flat_map do |alert|
            alert.find_matching_offers.select { |offer| offer.created_at > alert.created_at }
        end %>
        <% all_matching_offers.sort_by! { |offer| -offer.created_at.to_i } %>

          <% all_matching_offers.each do |offer| %>
            <div class="offer-card">
              <div class="offer-creation-date">
                <%= offer.created_at.strftime("%d/%m/%Y %H:%M") %>
              </div>
                <a href="<%= offer_path(offer) %>" class="offer-card-link">

              <div class="offer-image">
                <% if offer.product.images.first %>
                  <%= image_tag url_for(offer.product.images.first), alt: offer.product.modele %>
                <% end %>
              </div>
                </a>
              <div class="offer-details">
                <p><%= offer.product.marque %></p>
                <p><%= link_to offer.product.modele, product_path(offer.product) %></p>
                <p><%= number_to_currency(offer.price, unit: "€", separator: ",", delimiter: ".", format: "%n %u") %></p>
                <p>Extra: <%= offer.extra ? '<i class="fa-solid fa-check" style="color: #00f900;"></i>'.html_safe : '<i class="fa-solid fa-xmark" style="color: #000000;"></i>'.html_safe %></p>
                <p>Langue: <% language_option = Offer.language_options.find {|option| option[1] == offer.language } %>
                <%= language_option ? language_option[0] : offer.language %></p>
                <p>État: <%= Offer.formatted_etat_options[offer.etat] %></p>
              </div>
              <a href="<%= user_path(offer.user) %>" class="seller-info">
                <span class="seller-nickname"><%= offer.user.nickname %></span>
                <% if offer.user.avatar.attached? %>
                  <%= image_tag offer.user.avatar, class: "seller-avatar", alt: offer.user.nickname %>
                <% else %>
                  <%= image_tag("avatar-default.jpg", class: "seller-avatar") %>
                <% end %>
              </a>

            </div>
            <% end %>
  <% else %>
    <p style="text-align: center;">Aucune alerte pour le moment...</p>
  <% end %>  </div>
</div>
  <div class="tab-pane fade" id="nav-manage-alerts" role="tabpanel" aria-labelledby="nav-manage-alerts-tab" style="margin-left: 10%; margin-right: 10%;">
<%= form_with model: [current_user, @new_alert], remote: true, class: "row-form" do |form| %>
  <div class="form-column">
    <%= form.label :keyword, "Mot-clef:" %>
    <%= form.text_field :keyword, required: true, placeholder: "iPhone, Nintendo, etc." %>
  </div>
  <div class="form-column">
    <%= form.label :max_price, "Prix Max.(€):" %>
    <%= form.number_field :max_price, placeholder: "22", style:"width: 75px;"%>
  </div>
<div class="form-column">
  <%= form.label :language, "Langue:" %>
  <%= form.select :language, options_for_select([["Toutes les langues", nil]] + Offer.language_options), {}, class: 'custom-select' %>
</div>
  <div class="form-column">
    <%= form.submit "Créer une alerte", class:"alert-submit-button" %>
  </div>
<% end %>


      <% if @alerts.any? %>

  <h3>La liste de vos alertes actives:</h3>
  <% end %>
  <table class="alerts-table">
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th> <!-- colonne pour les boutons d'édition et de suppression -->
  </tr>
<div style="width: 100%;">
    <table style="width: 100%;">
        <% @alerts.each_with_index do |alert, index| %>
            <tr style="<%= 'border-top: 1px solid #dddddd;' if index > 0 %>">
                <td style="width: 20%;"><%= alert.keyword %></td>
                <td style="width: 30%;"><%= number_to_currency(alert.max_price, unit: "€", separator: ",", delimiter: ".", format: "%n %u") %></td>
                <td style="width: 20%;"><%= Offer.language_name(alert.language) %></td>
                <td style="width: 30%;">
    <div class="edit-container"> <!-- Ajout de cette classe -->
        <div class="edit-form" style="display: none;">
                                <%= form_with model: [current_user, alert], remote: true do |form| %>
                            <div class="form-column">
                                <%= form.label :keyword, "Mot-clef:" %>
                                <%= form.text_field :keyword, value: alert.keyword, required: true, placeholder: "iPhone, Nintendo, etc." %>
                            </div> <!-- champs du formulaire -->
                            <%= form.submit "Mettre à jour" %>
                        <% end %>
                    </div>
                    <div class="button-container" style="display: flex; justify-content: flex-end;">
                        <button class="edit-button icon-button-alert">
                            <i class="fa-solid fa-pencil" style="color: #000000;"></i>
                        </button>
                        <%= button_to '<i class="fa-solid fa-trash-can" style="color: #e00034;"></i>'.html_safe, delete_alert_path(id: current_user.id, alert_id: alert.id), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cette alerte?" }, class: 'button-class icon-button-alert' %>
                    </div>
                        </div>

                </td>
            </tr>
        <% end %>
    </table>
</div>


<% else %>


<table class="offers-table">
  <tr>
    <th></th> <!-- colonne pour l'image du prdt -->
    <th>Marque</th>
    <th>Produit</th>
    <th>Prix</th>
    <th><div class="pop-up-fav">
        Extra
        <span class="popupoff" data-popuptext="Accessoire(s) suppl. ex: ruban cadeau d'origine, papier de soie,..."><i class="fa-solid fa-circle-exclamation hover-icon" style="color: #7a7a7a;"></i></span>
      </div>
    </th>
    <th>Langue</th>
    <th>État</th>
    <th></th> <!-- colonne pour le bouton de suppression -->
  </tr>
  <% @offers.each do |offer| %>
    <tr>
      <td class="product-image">
        <% if offer.product.images.first %>
          <%= image_tag url_for(offer.product.images.first), alt: offer.product.modele %>
        <% end %>
      </td>
      <td><%= offer.product.marque %></td>
      <td><%= link_to offer.product.modele, product_path(offer.product) %></td>
      <td><%= number_to_currency(offer.price, unit: "€", separator: ",", delimiter: ".", format: "%n %u") %></td>
      <td><%= offer.extra ? '<i class="fa-solid fa-check" style="color: #00f900;"></i>'.html_safe : '<i class="fa-solid fa-xmark" style="color: #000000;"></i>'.html_safe %></td>
      <td>
        <% language_option = Offer.language_options.find {|option| option[1] == offer.language } %>
        <%= language_option ? language_option[0] : offer.language %>
      </td>
      <td><%= Offer.formatted_etat_options[offer.etat] %></td>
    <td>
      <% if current_user == @user %>
        <%= link_to '<i class="fa-solid fa-pencil iconoff" style="color: #000000;"></i>'.html_safe, edit_offer_path(offer)%>
        <%= link_to '<i class="fa-solid fa-circle-xmark iconoff" style="color: #e32400;"></i>'.html_safe, offer_path(offer), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ?" } %>
      <% else %>
        <%= link_to '<i class="fa-solid fa-basket-shopping iconoff icon-table" style="color: #000000;"></i>'.html_safe, offer_path(offer) %>
                <%= button_to offer_chatrooms_path(offer), method: :post, class: "your-button-class-if-any", form_class: 'your-form-class-if-any' do %>
          <%= '<i class="fa-regular fa-comment-dots" style="color: #000000;"></i>'.html_safe %>
        <% end %>
      <% end %>
    </td>
    </tr>
  <% end %>
</table>
  <% end %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
  document.querySelectorAll('.edit-button').forEach(function(button) {
    button.addEventListener('click', function() {
      var editContainer = this.closest('.edit-container'); // Trouver le conteneur d'édition
      var editForm = editContainer.querySelector('.edit-form'); // Trouver le formulaire d'édition dans le conteneur
      editForm.style.display = 'block'; // Afficher le formulaire
      this.style.display = 'none'; // Cacher le bouton Éditer
    });
  });

  // Ajoutez le code pour gérer la réponse AJAX si nécessaire
});

</script>
