<footer class="footer">
  <div class="sub-footer sub-footer-1">
    <!-- Contenu de la première sous-section -->
    <h2 class="titre-ffo">Persébox. Sortez les du garage.</h2>
    <div class="foot-contain">
      <div class="brand-foot">
        <h6><%= link_to 'Nintendo', products_path(query: 'Nintendo') %></h4>
          <p><%= link_to 'Pokémon', products_path(query: 'Pokémon') %></p>
          <p><%= link_to 'Wii', products_path(query: 'Wii') %></p>
          <p><%= link_to 'NES', products_path(query: 'NES') %></p>
          <p><%= link_to 'Switch', products_path(query: 'Switch') %></p>
          <p><%= link_to 'Nintendo 64', products_path(query: 'nintendo 64') %></p>
          <p><%= link_to 'Game Boy', products_path(query: 'game boy') %></p>
      </div>
      <div class="brand-foot">
        <h6><%= link_to 'Mode', products_path(query: 'Mode') %></h4>
          <p><%= link_to 'LV', products_path(query: 'Louis Vuitton') %></p>
          <p><%= link_to 'Chanel', products_path(query: 'Chanel') %></p>
          <p><%= link_to 'Versace', products_path(query: 'Versace') %></p>
          <p><%= link_to 'Nike', products_path(query: 'Nike') %></p>
          <p><%= link_to 'Adidas', products_path(query: 'Adidas') %></p>
          <p><%= link_to 'Jordan', products_path(query: 'Jordan') %></p>
      </div>
      <div class="brand-foot">
        <h6><%= link_to 'Informatique', products_path(query: 'informatique') %></h4>
          <p><%= link_to 'Apple', products_path(query: 'Apple') %></p>
          <p><%= link_to 'Microsoft', products_path(query: 'Microsoft') %></p>
          <p><%= link_to 'Dell', products_path(query: 'Dell') %></p>
          <p><%= link_to 'LG', products_path(query: 'LG') %></p>
          <p><%= link_to 'AMD', products_path(query: 'AMD') %></p>
          <p><%= link_to 'ACER', products_path(query: 'acer') %></p>
      </div>
            <div class="brand-foot">
        <h6><%= link_to 'Jeux', products_path(query: 'jeux') %></h4>
          <p><%= link_to 'Funko POP', products_path(query: 'Funko POP') %></p>
          <p><%= link_to 'Jeux de société', products_path(query: 'société') %></p>
          <p><%= link_to 'Jeux vidéo', products_path(query: 'Jeux vidéo') %></p>
          <p><%= link_to 'Extérieur', products_path(query: 'Extérieur') %></p>
          <p><%= link_to 'Touché-coulé', products_path(query: 'touche coule') %></p>
          <p><%= link_to 'Docteur Maboule', products_path(query: 'maboule') %></p>
      </div>
    </div>
<hr id="separation-line" class="dropdown-divider">
<div style="text-align: center;">
  <p style="margin-bottom: 0;">Retrouvez-nous sur les réseaux sociaux :</p>
  <i class="fab fa-facebook" style="color: #ffffff; margin-right: 10px;"></i>
  <i class="fab fa-twitter" style="color: #ffffff; margin-right: 10px;"></i>
  <i class="fab fa-instagram" style="color: #ffffff;"></i>
</div>


  <div class="sub-footer sub-footer-2">
    <!-- Contenu de la deuxième sous-section -->
      <div class="information-links">

    <ul role="list" data-component="InformationalLinks" class="css-7cxn2i">
  <li class="css-1hv3tee">
    <a href="#" class="css-16famhp">Aide</a>
  </li>
  <li class="css-1hv3tee">
    <a href="#" class="css-16famhp">Comment ça marche</a>
  </li>
  <li class="css-1hv3tee">
    <a href="#" class="css-1racc2t">Confidentialité</a>
  </li>
  <li class="css-1hv3tee">
    <a href="#" class="css-1racc2t">Conditions</a>
  </li>
  <li class="css-1hv3tee">
    <a href="#" class="css-16famhp">Recrutement</a>
  </li>
  <li class="css-1hv3tee">
    <%= link_to 'Contacts', contact_path, class: 'css-16famhp' %>
  </li>
  <li class="css-1hv3tee">
    <a href="#" class="css-1racc2t">Charte d'accessibilité</a>
  </li>
</ul>
</div>
  <div class="rights">
    ©2023 Persébox. Tous droits réservés.
  </div>
  </div>
</footer>
