<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "PERSEBOX.png", alt: "Logo" %>
    <% end %>

      <div class="search-form-container">
        <%= form_with url: products_path, method: 'get', class: "d-flex" do %>
          <%= text_field_tag :query,
              params[:query],
              class: "input-search",
              placeholder: "Chercher par marque, modèle..." %>
          <%= button_tag( :class => "btn-search") do %>
            <i class="fa-solid fa-magnifying-glass search-icon" style="color: #59F389;"></i>
          <% end %>
        <% end %>
      </div>

    <ul class="navbar-nav ms-auto">
      <%# <li class="nav-item dropdown hover-dropdown" data-controller="dropdownnav">
        <a class="nav-link dropdown-toggle dropdown-toggle-no-caret" href="#" id="browseDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Parcourir
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="browseDropdown" data-dropdownnav-target="dropdownMenu">
          <li><%= link_to "Louis Vuitton", "#", class: "dropdown-item"</li>
          <li><%= link_to "Nintendo", "#", class: "dropdown-item"</li>
          <li><%= link_to "Hermés", "#", class: "dropdown-item"</li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Geek Space</a></li>
          <li><a class="dropdown-item" href="#">Maroquinerie</a></li> %>
        <%# </ul>
      </li>  %>

      <%# <li class="nav-item"> %>
        <%# link_to "À propos", "#", class: "nav-link" %>
      <%# </li> %>
      <%# <li class="nav-item"> %>
        <%# link_to "Aide", "#", class: "nav-link" %>
      <%# </li> %>
      <li class="nav-item dropdown hover-dropdown" data-controller="dropdownnav">
        <a class="nav-link dropdown-toggle dropdown-toggle-no-caret" href="#" id="browseDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <% if user_signed_in? %>
          <i class="fa-solid fa-plus default-color icon-navbar"></i>
        <% else %>
          Vendre
        <% end %>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="browseDropdown" data-dropdownnav-target="dropdownMenu">
          <li><%= link_to "Suggérer un nouveau produit", "#", class: "dropdown-item" %></li>
          <%= link_to "Faire une offre", select_product_path, class: "dropdown-item" %>
        </ul>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item">
          <%= link_to liked_products_path, class: "nav-link" do %>
            <i class="far fa-regular fa-heart default-color icon-navbar"></i>
          <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "#", class: "nav-link" do %>
      <i class="far fa-comment fa-fw default-color icon-navbar"></i>
        <% end %>
      </li>
      <% end %>
    </ul>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
        <li class="nav-item dropdown hover-dropdown" data-controller="dropdownnav">
        <a class="nav-link dropdown-toggle dropdown-toggle-no-caret" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-regular fa-circle-user default-color icon-navbar"></i>
        </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" data-dropdownnav-target="dropdownMenu">
          <li><%= link_to "Mon compte", edit_user_registration_path, class: "dropdown-item"%></li>
          <li><%= link_to "Mes achats", "#", class: "dropdown-item"%></li>
          <li><%= link_to "Mes ventes", my_offers_path, class: "dropdown-item"%></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to "Déconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></li>
        </ul>
      </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "Se connecter | S'inscrire", new_user_registration_path, class: "nav-link inscription-nav" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<%# <div class="second-navbar"> %>
  <%# <p>link_to "Louis Vuitton", "#", class: "dropdown-item"</p> %>
  <%# <p>link_to "Nintendo", "#", class: "dropdown-item"</p> %>
  <%# <p>link_to "Hermés", "#", class: "dropdown-item"</p> %>
  <%# <p>link_to "Geek Space", "#", class: "dropdown-item"</p> %>
  <%# <p>link_to "Maroquinerie", "#", class:"dropdown-item"</p> %>
<%# </div> %>
