
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "PERSEBOX.png", alt: "Logo" %>
    <% end %>

    <div id="search-container" class="d-none d-md-block">
      <div class="search-form-container" data-controller="search">
        <%= form_with url: products_path, method: 'get', class: "d-flex" do %>
          <%= text_field_tag :query,
              params[:query],
              class: "input-search",
              placeholder: "Chercher par marque, modèle..." %>
          <%= button_tag( :class => "btn-search") do %>
            <i class="fa-solid fa-magnifying-glass search-icon" style="color: #59F389;"></i>
          <% end %>
        <% end %>
      </div>
    </div>


  <ul class="navbar-nav ms-auto">
  <% if user_signed_in? %>
    <li class="nav-item dropdown hover-dropdown d-none d-md-block" data-controller="dropdownnav">
      <a class="nav-link dropdown-toggle dropdown-toggle-no-caret" href="#" id="browseDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <% all_matching_alerts_and_offers = (@alerts || []).flat_map do |alert|
          alert.find_matching_offers.select { |offer| offer.created_at > alert.created_at }.map { |offer| [alert, offer] }
        end %>
        <% unread_alerts_count = all_matching_alerts_and_offers.count { |alert, _| !alert.read? } %>
        <% if unread_alerts_count > 0 %>
          <div class="notif-ring">
            <i class="fa-solid fa-bell" style="color: #919191;"></i>
            <span class="notif-badge"></span>
          </div>
        <% else %>
          <i class="fa-solid fa-bell" style="color: #919191;"></i>
        <% end %>
      </a>
      <ul class="dropdown-menu dropdown-menu-end notification-dropdown" aria-labelledby="browseDropdown" data-dropdownnav-target="dropdownMenu">
        <li style="margin-left: 10px; margin-bottom: -20px;">
          <h6 style="margin-bottom: 30px;">Notifications:</h6>
          <%# <% unread_alerts_count = @alerts.sum { |alert| alert.unread_offers.count } %>
          <%# <% if unread_alerts_count > 0 %>
            <%# <span class="notification-badge"><%= unread_alerts_count</span> %>
          <%# end %>
        </li>

        <div class="list-notif">
          <% all_matching_alerts_and_offers.sort_by! { |alert, offer| -offer.created_at.to_i } %>
          <% if all_matching_alerts_and_offers.any? %>
          <% all_matching_alerts_and_offers.each do |alert, offer| %>
            <li>
              <a href="<%= offer_path(offer, alert_id: alert.id) %>" class="notif-card-link">
                <div class="notif-2-card <%= 'unread-notification' unless alert.offer_read?(offer) %>">
                              <div class="notif-creation-date">
                                <%= offer.created_at.strftime("%d/%m/%Y %H:%M") %>
                              </div>
                              <div class="notif-image">
                                <% if offer.product.images.first %>
                                  <%= image_tag url_for(offer.product.images.first), alt: offer.product.modele %>
                                <% end %>
                              </div>
                              <div class="notif-details">
                                <p><strong>1 nouvelle offre</strong> correspond à votre alerte <strong><%= alert.keyword %></strong></p>
                              </div>
                            </div>
              </a>
            </li>
            <% end %>
          <% else %>
            <li style="margin-left: 10px; margin-top: 20px; font-size: 13px;">Aucune alerte pour le moment...</li>
          <% end %>
        </div>
        <li>
          <%= link_to user_path(current_user) do %>
            <i class="fa-solid fa-gear" style= "color: #000000; margin-left: 5px; margin-top: 10px;"></i>
          <% end %>
        </li>
      </ul>
    </li>
  <% else %>
    <li class="nav-item d-none d-md-block">
      <%= link_to new_user_session_path, class: "notif-ring" do %>
        <i class="fa-solid fa-bell" style="color: #919191;"></i>
        <span class="notif-badge"></span>
      <% end %>
    </li>
  <% end %>


      <li class="nav-item dropdown hover-dropdown d-none d-md-block" data-controller="dropdownnav">
        <a class="nav-link dropdown-toggle dropdown-toggle-no-caret" href="#" id="browseDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Parcourir
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="browseDropdown" data-dropdownnav-target="dropdownMenu">
          <li><%= link_to "Louis Vuitton", "#", class: "dropdown-item"%></li>
          <li><%= link_to "Nintendo", "#", class: "dropdown-item"%></li>
          <li><%= link_to "Hermés", "#", class: "dropdown-item"%></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Geek Space</a></li>
          <li><a class="dropdown-item" href="#">Maroquinerie</a></li>
        </ul>
      </li>

        <li class="nav-item">
          <% link_to "À propos", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <% link_to "Aide", "#", class: "nav-link" %>
        </li>

      <li class="nav-item dropdown hover-dropdown d-none d-md-block" data-controller="dropdownnav">
        <a class="nav-link dropdown-toggle dropdown-toggle-no-caret" href="#" id="browseDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <% if user_signed_in? %>
          <%# <i class="fa-solid fa-plus default-color icon-navbar"></i> %>
          Vendre
        <% else %>
          Vendre
        <% end %>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="browseDropdown" data-dropdownnav-target="dropdownMenu">
          <li><%= link_to "Suggérer un nouveau produit", "#", class: "dropdown-item" %></li>
          <%= link_to "Faire une offre", select_product_path, class: "dropdown-item" %>
        </ul>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item">
          <%= link_to liked_products_path, class: "nav-link" do %>
            <i class="far fa-regular fa-heart default-color icon-navbar"></i>
          <% end %>
      </li>


  <ul class="navbar-nav ms-auto">

      <li class="nav-item">
        <%= link_to chatrooms_path, class: "nav-link" do %>
          <i class="far fa-comment fa-fw default-color icon-navbar"></i>
        <% end %>
      </li>
      </li>
      <% end %>
    </ul>


    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
                          <div class="d-none d-md-block">

    </button>
                    </div> %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>

          <li class="nav-item dropdown hover-dropdown" data-controller="dropdownnav">
          <a class="nav-link dropdown-toggle dropdown-toggle-no-caret" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa-regular fa-circle-user default-color icon-navbar"></i>
          </a>

        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" data-dropdownnav-target="dropdownMenu" >
            <li><%= link_to "Mon compte", user_path(current_user), class: "dropdown-item"%></li>
            <li><%= link_to "Mes achats", "#", class: "dropdown-item"%></li>
            <li><%= link_to "Mes ventes", my_offers_path, class: "dropdown-item"%></li>
            <li><hr class="dropdown-divider"></li>
                      <% if current_user.admin? %> <!-- Vérifie si l'utilisateur courant est un administrateur -->
            <li><%= link_to "Admin", "/admin", class: "dropdown-item" %></li>
          <% end %>
            <li><%= link_to "Déconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></li>
          </ul>
        </li>
              </button>

        <% else %>

          <li class="nav-item">
            <span class="nav-link inscription-nav">
              <%= link_to "Se connecter", new_user_session_path %> |
              <%= link_to "S'inscrire", new_user_registration_path %>
            </span>
          </li>


        <% end %>
      </ul>
    </div>
  </div>
</div>


<script>
$(document).ready(function() {

  var productNames = <%= raw (@products.pluck(:modele) + @products.pluck(:marque)).uniq.to_json %>;

  $(".input-search").autocomplete({
    source: productNames
  });
});
</script>
