<div class="mb-3">
  <%= link_to '<i class="fa-solid fa-circle-arrow-left" style="color: #ffffff;"></i> Retour'.html_safe, request.referer || root_path, class: 'btn btn-light' %>
</div>

<h3>Étape 1/2</h3>
<h4>Mode de remise</h4>

<div class="row" data-controller="autocomplete">
  <div class="col-md-6">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Trouver les points relais</h5>
        <p class="card-text">Trouver les points relais autour de :</p>

        <%= simple_form_for search_points_relais_orders_path, remote: true do |f| %>
            <div class="mb-3">
              <%= f.input :address,
                  required: true,
                  input_html: {
                      value: params[:address].presence || current_user&.address,
                      id: "autocomplete_address",
                      data: { autocomplete_target: "address" }
                  },
                  label: 'Adresse',
                  label_html: { class: "form-label" },
                  wrapper_html: { class: "form-field" } %>

              <%= f.input :latitude,
                  as: :hidden,
                  input_html: {
                      value: params[:latitude].presence || current_user&.latitude,
                      id: "input_latitude",
                      data: { autocomplete_target: "latitude" }
                  } %>

              <%= f.input :longitude,
                  as: :hidden,
                  input_html: {
                      value: params[:longitude].presence || current_user&.longitude,
                      id: "input_longitude",
                      data: { autocomplete_target: "longitude" }
                  } %>

              <%= f.input :postal_code,
                  as: :hidden,
                  label: 'Code postal',
                  input_html: {
                      value: params[:postal_code].presence || current_user&.postal_code,
                      id: "input_postal_code",
                      readonly: true,
                      data: { autocomplete_target: "postalCode" }
                  } %>

              <%= f.input :city,
                  as: :hidden,
                  label: 'Ville',
                  input_html: {
                      value: params[:city].presence || current_user&.city,
                      id: "input_city",
                      readonly: true,
                      data: { autocomplete_target: "city" }
                  } %>

                </div>
            <%# <%= submit_tag 'Chercher', class: 'btn btn-primary' %>
        <% end %>
    </div>
<%= link_to "Rechercher les points relais", search_points_relais_orders_path, id: "search-points-relais-link", remote: true %>

<div class="points-relais-list">
  <!-- Si un point relais est sélectionné, affichez-le ici -->
</div>

<div class="point-relais-display">
  <!-- Détails du point relais sélectionné -->
</div>

<div id="points-relais"></div>
</div>

  <div class="card mb-4">
      <div class="card-body">
          <h5 class="card-title">Informations personnelles</h5>
          <p class="card-text">Une pièce d’identité vous sera demandée pour récupérer votre colis.</p>

          <%= form_tag  do %>
              <div class="mb-3">
                          Prénom

                  <%= text_field_tag :first_name, params[:first_name].presence || current_user&.first_name, class: 'form-control', placeholder: 'Prénom' %>
              </div>
              <div class="mb-3">
                Nom
                  <%= text_field_tag :last_name, params[:last_name].presence || current_user&.last_name, class: 'form-control', placeholder: 'Nom' %>
              </div>
              <div class="mb-3">
                Numéro de téléphone
                  <%= text_field_tag :telephone, params[:telephone].presence || current_user&.telephone, class: 'form-control', placeholder: 'Numéro de téléphone' %>
                Recevoir un SMS pour l’arrivée de votre colis ou votre code de locker
              </div>
          <% end %>
          </div>
      </div>
  </div>


  <div class="col-md-6">
    <div class="card">
      <div class="card-header bg-white d-flex align-items-center">
        <% if @offer.product.images.attached? %>
          <div class="mr-3">
            <%= image_tag @offer.product.images.first, class: "product-image", style: "max-width: 100px; max-height: 100px; margin-right: 15px;" %>
          </div>
        <% end %>

        <div class="flex-grow-1">
          <h5><%= @offer.product.marque %></h5>
          <h6><%= @offer.product.modele %></h6>
        </div>

        <div class="text-success">
          <p><strong>Prix: <%= @offer.price %> €</strong></p>
        </div>
      </div>

      <div class="card-body">
  <p><strong>Mode de remise</strong></p>
  <p><strong>Mondial Relay</strong> 8,60 €</p>

  <% protection = [(@offer.price * 0.035), 0.99].max %>
  <% protection = (2.0 * protection).ceil / 2.0 if protection > 0.99 %>
  <p><strong>Protection</strong> <%= protection %> €</p>

  <ul style= "list-style-type: none">
    <li><i class="fa-solid fa-check" style="color: #96d35f;"></i> Votre argent est conservé jusqu’à la confirmation de réception de votre achat.</li>
    <li><i class="fa-solid fa-check" style="color: #96d35f;"></i> Une équipe dédiée à votre service.</li>
  </ul>
</div>

<div>
  Total : <%= @offer.price + 8.60 + protection %> €
</div>

</div>
<%= button_to "Etape 2/2: Payer", create_checkout_session_orders_path,
      method: :post,
      id: "stripe-button",
      action: create_checkout_session_orders_path,
      class: 'btn btn-success mt-3',
      data: { controller: "stripe-button",
              :"stripe-button_offer_id" => @offer.id,
              :"stripe-button_publishable_key" => Rails.configuration.stripe[:publishable_key]} %>
</div>

<script>
$("#search-points-relais-link").click(function(e) {
    e.preventDefault();
    $.get($(this).attr("href"), function(data) {
        $("#points-relais").html(data);
    });
});


</script>
