<h1 class="header">Modifier l'offre</h1>

<div id="offer-edit-container">
  <div class="product-edit-prez">
  <% if @offer.product.images.first %>
    <div id="product-info">
      <%= image_tag @offer.product.images.first.url, alt: @offer.product.modele, class: 'product-image-edit' %>
      <h2><%= @offer.product.marque %></h2>
      <h3><%= @offer.product.modele %></h3>
    </div>
  <% end %>
  </div>
  <div class="form-edit-prez">
    <%= form_with(model: @offer, local: true, html: { class: "offer-form" }) do |form| %>

      <div class="flex-form-inputs">
        <div class="form-group">
          <%= form.label :price, "Prix (€)" %>
          <%= form.number_field :price, step: 0.5, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :language, "Langue" %>
          <%= form.select :language, Offer.language_options, {}, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :etat, "État" %>
          <%= form.select :etat, Offer.formatted_etat_select_options, {}, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :content, "Description" %>
        <%= form.text_area :content, class: "form-control" %>
      </div>

      <div class="form-group extra">
        <%= form.label :extra, "Extra" %>         <span class="popupoff" data-popuptext="Accessoire(s) suppl. ex: ruban cadeau d'origine, papier de soie,..."><i class="fa-solid fa-circle-exclamation hover-icon" style="color: #7a7a7a;"></i></span>
        <%= form.check_box :extra %>
      </div>

      <div class="flex-form-inputs">
        <%= form.submit 'Modifier l\'offre', class: "btn btn-edit" %>
        <%= link_to 'Supprimer l\'offre', offer_path(@offer), data: { turbo_method: :delete, turbo_confirm: 'Êtes-vous sûr de vouloir supprimer cette offre?' }, class: "btn btn-destroy" %>
      </div>
    <% end %>
  </div>
</div>
