<div class="product-details">
  <h1 class="header"><%= @product.modele %></h1>
  <p>Marque: <%= @product.marque %></p>
  <% if @product.images.attached? %>
    <%= image_tag @product.images.first, class: "product-showimage" %>
  <% end %>  <p>Description: <%= @product.content %></p>
  <!-- Autres informations sur le produit -->
</div>

<div class="offer-container">
  <% @product.offers.each do |offer| %>
    <div class="offer-item">
      <%= link_to offer_path(offer) do %>
        <div class="offer-info">
          <p><%= offer.user.nickname %></p>
          <p><%= offer.language %></p>
          <p><%= offer.etat %></p>
          <p><%= offer.extra %></p>
          <p><%= offer.price %></p>
          <p><i class="fa-solid fa-basket-shopping" style="color: #000000;"></i></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
